.album-list {
  display: flex;
  flex-flow: row wrap;
  padding: 30px;
  width: 100%;
}

.album-item {
  display: flex;
  flex-flow: column nowrap;
  height: 400px;
  justify-content: space-between;
  list-style: none;
  margin: 20px;
  overflow: hidden;
  padding: 0;
  width: 270px;
}

.album-item img {
  border-radius: 20px;
  height: 270px;
  margin-bottom: 10px;
  width: 270px;
}

.albuns-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  width: 100%;
}

.albuns-container h1 {
  color: rgba(0, 59, 229, 1);
}

.album-item h2 {
  color: black;
  font-size: 18px;
  overflow: hidden;
  overflow-inline: scroll;
}

.album-item h3 {
  color: black;
  font-size: 14px;
}

.section-albuns {
  align-items: center;
  background-color: rgba(239, 243, 249, 1);
  display: flex;
  justify-content: center;
  width: 100%;
}

.albuns-menu {
  width: 100%;
}

.album-page {
  align-items: center;
  background-color: rgba(239, 243, 249, 1);
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  width: 100%;
}

.album-pic {
  width: 400px;
}

.album-pic img {
  border-radius: 12px;
  filter: drop-shadow(-9px 8px 8px rgba(68, 73, 85, 0.4));
  height: 300px;
  margin: 0 50px;
  width: 300px;
}

.album-header {
  color: white;
  height: 150px;
  width: 100%;
}

.album-songs {
  width: 100%;
}

.album-content {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  padding: 0 5%;
  transform: translate(0, -150px);
}

.album-content ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

.music-card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.song-name {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.song-name h1 {
  font-size: 20px;
}

.album-track {
  align-items: center;
  display: flex;
  max-width: 500px;
  min-width: 300px;


}

.album-track audio {
  max-width: 500px;
  min-width: 300px;
}

.favorite-checkbox {
  align-items: center;
  display: flex;
  font-size: 50px;
  justify-content: center;
  position: relative;
  width: 100px;
}

.favorite-checkbox input {
  display: none;
}

.favorite-checkbox input:checked ~ .checkmark {
  color: red;
}
