.Loading-component {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.Loading-component span {
  font-size: 25px;
}

.spin {
  animation: spin 0.5s linear infinite;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  height: 30px;
  margin-right: 10px;
  text-align: center;
  width: 30px;
}

@keyframes spin {

  100% {
    transform: rotate(-360deg);
  }
}
