:root {

  --input-color: rgba(255, 255, 255, 0.5);


}

.search-input, .favorites-header {
  align-items: center;
  display: flex;
  height: 30vh;
  justify-content: center;
  width: 100%;
}

.search-input input {
  background-color: var(--input-color);
  border: none;
  border-radius: 20px;
  color: white;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 800px;
  height: 40px;
  margin: 0 20px;
  outline-color: rgba(255, 255, 255, 0);
  padding: 10px;
  width: 30%;

}

.search-input button {
  background-color: rgba(0, 213, 226, 1);
  border: none;
  border-radius: 20px;
  color: white;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  font-weight: 800px;
  height: 40px;
  width: 150px;
}

.search-input input::placeholder {
  color: white;
  font-weight: 800px;
}

.page-search {
  color: white;
  display: flex;
  flex-flow: column;
  text-align: center;
}
